In [25]:
import pandas as pd
df = pd.read_json('/Users/abhijeetchakravorty/Sites/ai-assistant/amazon.json')
df.to_csv('/Users/abhijeetchakravorty/Sites/ai-assistant/amazon.csv')
print(df)

                                                  name discountedPrice  \
0                                                 None            None
1            Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)           8,799
2    Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...           6,799
3                                                 None            None
4    (Renewed) Samsung Galaxy F41 (Fusion Black, 6G...          15,499
..                                                 ...             ...
228         I KALL K325 Smartphone (2GB, 16GB) (Green)           4,799
229  Redmi 9 Prime (Matte Black, 4GB RAM, 128GB Sto...          10,999
230                                               None            None
231                                               None            None
232                                               None            None

                                                imgUrl actualPrice  \
0    https://images-na.ssl-images-amazon.com/images...        None
1    https://m.media-amazon.com/images/I/71A9Vo1Bat...      ₹8,799
2    https://m.media-amazon.com/images/I/71sxlhYhKW...      ₹6,799
3    https://images-na.ssl-images-amazon.com/images...        None
4    https://m.media-amazon.com/images/I/51IwsJ2F+q...     ₹15,499
..                                                 ...         ...
228  https://m.media-amazon.com/images/I/41SwAoHxdE...      ₹4,799
229  https://m.media-amazon.com/images/I/71U2SiHgbi...     ₹10,999
230                                               None        None
231                                               None        None
232                                               None        None

                 rating
0                  None
1    4.1 out of 5 stars
2    4.2 out of 5 stars
3                  None
4                  None
..                  ...
228  5.0 out of 5 stars
229  4.3 out of 5 stars
230                None
231                None
232                None

[233 rows x 5 columns]

In [26]:
dat = pd.read_csv('/Users/abhijeetchakravorty/Sites/ai-assistant/amazon.csv')
print(dat.head())

   Unnamed: 0                                               name  \
0           0                                                NaN
1           1          Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)
2           2  Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...
3           3                                                NaN
4           4  (Renewed) Samsung Galaxy F41 (Fusion Black, 6G...

  discountedPrice                                             imgUrl  \
0             NaN  https://images-na.ssl-images-amazon.com/images...
1           8,799  https://m.media-amazon.com/images/I/71A9Vo1Bat...
2           6,799  https://m.media-amazon.com/images/I/71sxlhYhKW...
3             NaN  https://images-na.ssl-images-amazon.com/images...
4          15,499  https://m.media-amazon.com/images/I/51IwsJ2F+q...

  actualPrice              rating
0         NaN                 NaN
1      ₹8,799  4.1 out of 5 stars
2      ₹6,799  4.2 out of 5 stars
3         NaN                 NaN
4     ₹15,499                 NaN

In [27]:
dat.isnull()

     Unnamed: 0   name  discountedPrice  imgUrl  actualPrice  rating
0         False   True             True   False         True    True
1         False  False            False   False        False   False
2         False  False            False   False        False   False
3         False   True             True   False         True    True
4         False  False            False   False        False    True
..          ...    ...              ...     ...          ...     ...
228       False  False            False   False        False   False
229       False  False            False   False        False   False
230       False   True             True    True         True    True
231       False   True             True    True         True    True
232       False   True             True    True         True    True

[233 rows x 6 columns]

In [28]:
dat.dropna(subset=["name", "discountedPrice", "imgUrl", "actualPrice", "rating"], inplace=True)
print(dat.head())

   Unnamed: 0                                               name  \
1           1          Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)
2           2  Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...
5           5  Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...
6           6          Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)
7           7  Vivo Y31 (Ocean Blue, 6GB, 128GB Storage) with...

  discountedPrice                                             imgUrl  \
1           8,799  https://m.media-amazon.com/images/I/71A9Vo1Bat...
2           6,799  https://m.media-amazon.com/images/I/71sxlhYhKW...
5          11,990  https://m.media-amazon.com/images/I/71KCwNV6Mu...
6           8,799  https://m.media-amazon.com/images/I/71A9Vo1Bat...
7          16,490  https://m.media-amazon.com/images/I/71YW54xTE1...

  actualPrice              rating
1      ₹8,799  4.1 out of 5 stars
2      ₹6,799  4.2 out of 5 stars
5     ₹11,990  4.2 out of 5 stars
6      ₹8,799  4.1 out of 5 stars
7     ₹16,490  4.3 out of 5 stars

In [36]:
dat.to_csv('/Users/abhijeetchakravorty/Sites/ai-assistant/amazon-structured.csv', index=False)

In [37]:
data = pd.read_csv('/Users/abhijeetchakravorty/Sites/ai-assistant/amazon-structured.csv')
print(data.head())

   Unnamed: 0                                               name  \
0           1          Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)
1           2  Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...
2           5  Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...
3           6          Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)
4           7  Vivo Y31 (Ocean Blue, 6GB, 128GB Storage) with...

  discountedPrice                                             imgUrl  \
0           8,799  https://m.media-amazon.com/images/I/71A9Vo1Bat...
1           6,799  https://m.media-amazon.com/images/I/71sxlhYhKW...
2          11,990  https://m.media-amazon.com/images/I/71KCwNV6Mu...
3           8,799  https://m.media-amazon.com/images/I/71A9Vo1Bat...
4          16,490  https://m.media-amazon.com/images/I/71YW54xTE1...

  actualPrice              rating
0      ₹8,799  4.1 out of 5 stars
1      ₹6,799  4.2 out of 5 stars
2     ₹11,990  4.2 out of 5 stars
3      ₹8,799  4.1 out of 5 stars
4     ₹16,490  4.3 out of 5 stars

In [60]:
import seaborn as ssns
import matplotlib.pyplot as plt
import numpy as np
data_explore = data.copy()
actual = data_explore["actualPrice"].str.split("₹", n = 1, expand = True)
discounted = data_explore["discountedPrice"].str.split("₹", n = 1, expand = True)
actualD = actual[1].str.replace(",","").astype(float)

0       8799.0
1       6799.0
2      11990.0
3       8799.0
4      16490.0
        ...
164     9200.0
165    11490.0
166    10499.0
167     4799.0
168    10999.0
Name: 1, Length: 169, dtype: float64